.header { 
    grid-area: 1 / 1 / 2 / 2; 
    height: 40%; /* подправить потом */
    background-color: #1D1A1A; 
    color: #FFFFFF;
}
.footer { 
    grid-area: 5 / 1 / 6 / 2; 
    height: 100%; /* подправить потом */
    background-color: #1D1A1A; 
    color: #FFFFFF;
    margin-top: 20px; /* Добавьте отступ сверху */

}

.header_logo{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
    margin-top: 10px;
}
.header_wrapper{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.header_list{
    display: flex;
    flex-wrap: wrap;

}
.header_item{
    margin-right: 80px;
}
.header_link{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.header_logo_link{
    font-size: 50px;
    color: #FFFFFF;
    line-height: 24px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none; 
    padding-left: 0; 
}
.footer_wrapper{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.footer_list{
    line-height: 50px ;
}
.footer_list_pic{
    margin-right: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top:30px ; 
}
.footer_item_pic{
    display:flex;
    flex-wrap: wrap;
    margin-right: 80px;
}
.footer_nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
@font-face {
    font-family: 'MyCustomFont_Roboto'; 
    src: url('/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.link_{
    font-size: 38px;
    color: #000000;
    line-height: 24px;
    font-family: 'Times New Roman', Times, serif;
}